In [1]:
import pandas as pd

In [28]:
import requests
from bs4 import BeautifulSoup
import re

In [22]:
url='https://en.wikipedia.org/wiki/Life_expectancy'

In [36]:
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
header = soup.find(id='Variation_over_time')
table = header.find_next('table', {'class':'wikitable'})
mylist = []
# Удаляем ссылки в []
pattern = r"\[..\]"

for table_row in table.tbody.find_all("tr"):
    table_columns = table_row.find_all("td")
    if table_columns:
        # воспользуемся методом re.sub(), который ищет шаблон pattern в строке и заменяет его на ' '
        era =  re.sub(pattern,' ',table_columns[0].text.strip())
        life = re.sub(pattern,' ',table_columns[1].text.strip())
        notes = re.sub(pattern,' ',table_columns[2].text.strip())
        mylist.append([era, life, notes])

        df = pd.DataFrame(
            mylist,
            columns=["Era", "Life expectancy", "Notes"],
        )

print(df.head())
print(df.tail())

                        Era Life expectancy  \
0               Paleolithic          22–33
1                 Neolithic         20 –33
2  Bronze Age and Iron Age               26
3         Classical Greece          25 –28
4              Ancient Rome   20–33\n

                                               Notes
0  With modern hunter-gatherer populations' estim...
1  Based on Early Neolithic data, life expectancy...
2  Based on Early and Middle Bronze Age data, lif...
3  Based on Athens Agora and Corinth data, life e...
4  Data is lacking, but computer models provide t...
                            Era Life expectancy  \
17  19th-century British India             25.4
18  19th-century world average          28.5–32
19          1900 world average           31–32
20          1950 world average         45.7–48
21      2019–2020 world average   72.6–73.2

                                                Notes
17
18  Over the course of the century: Europe rose fr...
19  Around 48 years in Oceania, 43 in Europe, and ...
20  Around 60 years in Europe, North America, Ocea...
21  Females: 75.6 years\nMales: 70.8 years\nRange:...