In [10]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [17]:
email_data = pd.read_csv('spam_or_not_spam.csv', header=None, sep='\t')
email_data.head()

                                                   0
0                                        email,label
1   date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...
2  martin a posted tassos papadopoulos the greek ...
3  man threatens explosion in moscow thursday aug...
4  klez the virus that won t die already the most...

In [19]:
email_data.count()

0    3001
dtype: int64