In [1]:
import pandas as pd

In [2]:
citibike_tripdata = pd.read_csv('data/citibike_tripdata.csv', sep=',')
citibike_tripdata.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [3]:
citibike_tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [5]:
citibike_tripdata['start station id'].mode()[0]

np.float64(281.0)

In [6]:
citibike_tripdata['bikeid'].mode()[0]

np.int64(33887)

In [7]:
citibike_tripdata['usertype'].value_counts(normalize=True)

usertype
Subscriber    0.774007
Customer      0.225993
Name: proportion, dtype: float64

In [9]:
citibike_tripdata['gender'].value_counts()

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

In [11]:
a = citibike_tripdata['start station id'].nunique()
b = citibike_tripdata['end station id'].nunique()
a, b

(759, 765)

In [13]:
citibike_tripdata['birth year'].max()

np.int64(2002)

In [14]:
citibike_tripdata['start station name'].value_counts()

start station name
Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: count, Length: 759, dtype: int64

In [15]:
citibike_tripdata['end station name'].value_counts()

end station name
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: count, Length: 765, dtype: int64

In [16]:
citibike_data = citibike_tripdata.copy()

In [18]:
citibike_data.drop(['start station id', 'end station id'], axis =1, inplace=True)
citibike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [19]:
def get_age(year):
    return 2018 - year

In [20]:
citibike_data['age'] = citibike_data['birth year'].apply(get_age)
citibike_data['age']

0         38
1         49
2         43
3         34
4         24
          ..
299995    28
299996    36
299997    27
299998    43
299999    52
Name: age, Length: 300000, dtype: int64

In [21]:
citibike_data.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1,24

In [25]:
citibike_data.drop('birth year', axis=1, inplace=True)
citibike_data.head(1)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38

In [27]:
citibike_data[citibike_data['age'] > 60].value_counts()

starttime                 stoptime                  start station name                 start station latitude  start station longitude  end station name         end station latitude  end station longitude  bikeid  usertype    gender  age
2018-09-01 00:04:20.9200  2018-09-01 00:11:21.6180  Grand Army Plaza & Central Park S  40.764397               -73.973715               Broadway & W 53 St       40.763441             -73.982681             24824   Subscriber  2       63     1
2018-09-04 16:56:05.6270  2018-09-04 16:59:16.4570  Lafayette St & E 8 St              40.730207               -73.991026               E 16 St & Irving Pl      40.735367             -73.987974             28544   Subscriber  2       62     1
2018-09-04 16:53:43.7070  2018-09-04 17:39:16.7360  E 106 St & 1 Ave                   40.789253               -73.939562               Riverside Dr & W 72 St   40.780578             -73.985624             30698   Subscriber  1       65     1
2018-09-04 16:53:58.0980  2018-09-04 17:01:59.6350  5 Ave & E 73 St                    40.772828               -73.966853               E 81 St & 2 Ave          40.774779             -73.954275             34182   Subscriber  1       62     1
2018-09-04 16:53:58.1430  2018-09-04 17:02:50.6710  E 27 St & 1 Ave                    40.739445               -73.976806               Broadway & W 29 St       40.746201             -73.988557             15369   Subscriber  1       69     1
                                                                                                                                                                                                                                                ..
2018-09-02 22:52:19.2860  2018-09-02 22:58:01.3490  St Marks Pl & 2 Ave                40.728419               -73.987140               Suffolk St & Stanton St  40.720664             -73.985180             27614   Subscriber  2       71     1
2018-09-02 22:54:12.2990  2018-09-02 23:05:34.7580  E 16 St & Irving Pl                40.735367               -73.987974               Avenue D & E 3 St        40.720828             -73.977932             19294   Subscriber  2       63     1
2018-09-02 22:54:26.3580  2018-09-02 22:58:06.4530  Amsterdam Ave & W 73 St            40.779668               -73.980930               Amsterdam Ave & W 82 St  40.785247             -73.976673             27243   Subscriber  1       64     1
2018-09-02 22:54:49.6840  2018-09-02 23:06:50.2010  Pier 40 - Hudson River Park        40.727714               -74.011296               W 22 St & 10 Ave         40.746920             -74.004519             28196   Subscriber  1       68     1
2018-09-05 19:08:26.2640  2018-09-05 19:44:53.7800  Columbus Ave & W 72 St             40.777057               -73.978985               Hudson St & Reade St     40.716250             -74.009106             26377   Subscriber  1       66     1
Name: count, Length: 11837, dtype: int64

In [30]:
citibike_data['starttime'] = pd.to_datetime(citibike_data['starttime'], dayfirst=False)
citibike_data['starttime']

0        2018-09-01 00:00:05.269
1        2018-09-01 00:00:11.281
2        2018-09-01 00:00:20.649
3        2018-09-01 00:00:21.746
4        2018-09-01 00:00:27.315
                   ...
299995   2018-09-05 19:08:27.846
299996   2018-09-05 19:08:28.370
299997   2018-09-05 19:08:27.509
299998   2018-09-05 19:08:29.230
299999   2018-09-05 19:08:29.711
Name: starttime, Length: 300000, dtype: datetime64[ns]

In [31]:
citibike_data['stoptime'] = pd.to_datetime(citibike_data['stoptime'], dayfirst=False)
citibike_data['stoptime']

0        2018-09-01 00:27:20.634
1        2018-09-01 00:02:23.481
2        2018-09-01 00:55:58.547
3        2018-09-01 00:07:38.583
4        2018-09-01 02:21:25.308
                   ...
299995   2018-09-05 19:15:51.494
299996   2018-09-05 19:20:01.508
299997   2018-09-05 19:13:40.506
299998   2018-09-05 20:04:29.322
299999   2018-09-05 19:12:14.762
Name: stoptime, Length: 300000, dtype: datetime64[ns]

In [41]:
# вычислим интервал времени между временем окончания поездки и ее началом
trip_duration = citibike_data['stoptime'] - citibike_data['starttime']
trip_duration

0        0 days 00:27:15.365000
1        0 days 00:02:12.200000
2        0 days 00:55:37.898000
3        0 days 00:07:16.837000
4        0 days 02:20:57.993000
                  ...
299995   0 days 00:07:23.648000
299996   0 days 00:11:33.138000
299997   0 days 00:05:12.997000
299998   0 days 00:56:00.092000
299999   0 days 00:03:45.051000
Length: 300000, dtype: timedelta64[ns]

In [47]:
citibike_data['weekdaysale']= citibike_data['starttime'].dt.dayofweek
citibike_data.head(1)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,weekdaysale
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,5

In [48]:
def get_weekend(weekdsl):
    if weekdsl == 5 or weekdsl == 6:
        return 1
    return 0

In [54]:
citibike_data['weekend'] = citibike_data['weekdaysale'].apply(get_weekend)
citibike_data.tail(7)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,weekdaysale,weekend
299993,2018-09-05 19:08:27.016,2018-09-05 19:27:51.033,India St & West St,40.731814,-73.959950,Nassau Ave & Russell St,40.725570,-73.944340,33824,Customer,0,49,2,0
299994,2018-09-05 19:08:26.765,2018-09-05 19:16:30.920,Clinton Ave & Myrtle Ave,40.693261,-73.968896,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,17898,Subscriber,1,42,2,0
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,2,0
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,2,0
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,2,0
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,2,0
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,2,0

In [59]:
citibike_data[citibike_data['weekend'] == 1]['starttime'].info()

<class 'pandas.core.series.Series'>
Index: 115135 entries, 0 to 248549
Series name: starttime
Non-Null Count   Dtype
--------------   -----
115135 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 1.8 MB

In [60]:
citibike_data.drop('weekdaysale', axis=1, inplace=True)
citibike_data.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,weekend
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,1
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,1
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,1
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,1
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,1

In [61]:
start_time = citibike_data['starttime'].dt.time
start_time

0         00:00:05.269000
1         00:00:11.281000
2         00:00:20.649000
3         00:00:21.746000
4         00:00:27.315000
               ...
299995    19:08:27.846000
299996    19:08:28.370000
299997    19:08:27.509000
299998    19:08:29.230000
299999    19:08:29.711000
Name: starttime, Length: 300000, dtype: object

In [65]:
citibike_data['hour'] = citibike_data['starttime'].dt.hour
citibike_data['hour']

0          0
1          0
2          0
3          0
4          0
          ..
299995    19
299996    19
299997    19
299998    19
299999    19
Name: hour, Length: 300000, dtype: int32

In [64]:
def get_time_of_day(hour):
    if 0 <= hour <= 6:
        return 'night'
    elif 6 < hour <= 12:
        return 'morning'
    elif 12 < hour <= 18:
        return 'day'
    else:
        return 'evening'

In [66]:
citibike_data['time_of_day'] = citibike_data['hour'].apply(get_time_of_day)
citibike_data.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,weekend,hour,time_of_day
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,1,0,night
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,1,0,night
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,1,0,night
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,1,0,night
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,1,0,night

In [68]:
citibike_data[citibike_data['time_of_day'] == 'day'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 143012 entries, 18458 to 299048
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                143012 non-null  datetime64[ns]
 1   stoptime                 143012 non-null  datetime64[ns]
 2   start station name       142937 non-null  object
 3   start station latitude   143012 non-null  float64
 4   start station longitude  143012 non-null  float64
 5   end station name         142937 non-null  object
 6   end station latitude     143012 non-null  float64
 7   end station longitude    143012 non-null  float64
 8   bikeid                   143012 non-null  int64
 9   usertype                 143012 non-null  object
 10  gender                   143012 non-null  int64
 11  age                      143012 non-null  int64
 12  weekend                  143012 non-null  int64
 13  hour                     143012 non-null  int32
 14  time_of_day              143012 non-null  object
dtypes: datetime64[ns](2), float64(4), int32(1), int64(4), object(4)
memory usage: 16.9+ MB

In [69]:
citibike_data[citibike_data['time_of_day'] == 'night'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 15085 entries, 0 to 248699
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   starttime                15085 non-null  datetime64[ns]
 1   stoptime                 15085 non-null  datetime64[ns]
 2   start station name       15055 non-null  object
 3   start station latitude   15085 non-null  float64
 4   start station longitude  15085 non-null  float64
 5   end station name         15055 non-null  object
 6   end station latitude     15085 non-null  float64
 7   end station longitude    15085 non-null  float64
 8   bikeid                   15085 non-null  int64
 9   usertype                 15085 non-null  object
 10  gender                   15085 non-null  int64
 11  age                      15085 non-null  int64
 12  weekend                  15085 non-null  int64
 13  hour                     15085 non-null  int32
 14  time_of_day              15085 non-null  object
dtypes: datetime64[ns](2), float64(4), int32(1), int64(4), object(4)
memory usage: 1.8+ MB