Экспорт данных в формат csv осуществляется с помощью метода DataFrame to_csv().

Основные параметры метода DataFrame to_csv():
1. path_or_buf — путь до файла, в который будет записан DataFrame (например, data/my_data.csv);
2. sep — разделитель данных в выходном файле (по умолчанию ',');
3. decimal — разделитель чисел на целую и дробную части в выходном файле (по умолчанию '.');
4. columns — список столбцов, которые нужно записать в файл (по умолчанию записываются все столбцы);
5. index — параметр, определяющий, требуется ли создавать дополнительный столбец с индексами строк в файле (по умолчанию True).

In [2]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

# Создаем DataFrame с информацией о странах и помещаем в csv-файл countries.csv, а его - в папку data. 
# При этом укажем, что разделителем в нашем файле будет являться символ ';', а также то, что нам не нужен дополнительный столбец с индексами строк
countries_df.to_csv('data/countries.csv', index=False, sep=';')

Для чтения таблицы из csv-файла используется функция read_csv().
Ее основные параметры:
1. filepath_or_buffer — путь до файла, который мы читаем;
2. sep — разделитель данных (по умолчанию ',');
3. decimal — разделитель чисел на целую и дробную часть в выходном файле (по умолчанию '.');
4. names — список с названиями столбцов для чтения;
5. skiprows — количество строк в файле, которые нужно пропустить (например, файл может содержать служебную информацию, которая нам не нужна).

In [3]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [6]:
# если данные хрнаятся в открытом доступе, вместо пути до файла указываем ссылку на csv файл 
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

Методы для записи таблиц в файлы отличных от csv форматов:

1. to_excel() — запись DataFrame в формат Excel-таблицы (.xlsx);
2. to_json() — запись DataFrame в формат JSON (.json);
3. to_xml() — запись DataFrame в формат XML-документа (.xml);
4. to_sql() — запись DataFrame в базу данных SQL (для реализации этого метода необходимо установить соединение с базой данных).

Методы для чтения таблиц из файлов в отличных от csv форматах:

1. read_excel() — чтение из формата Excel-таблицы (.xlsx) в DataFrame;
2. read_json() — чтение из формата JSON (.json) в DataFrame;
3. read_xml() — чтение из формата XML-документа (.xml) в DataFrame;
4. read_sql() — чтение из базы данных SQL в DataFrame (также необходимо установить соединение с базой данных).