# Вставка данных

Вставка данных осуществляется оператором INSERT.

INSERT [INTO] имя_таблицы [(список_столбцов)] VALUES (значение1, значение2, ... значениеN);

В квадратных скобках [] указаны необязательные операторы/аргументы.

Пример. Вставим одну строку в таблицу doctors:

INSERT INTO doctors (doctor_name, spec, cabinet_num) 
VALUES('Вахтин Петр Семенович', 'терапевт', 11);

В данном случае мы не указываем doctor_num, т к там стоит AUTO_INCREMENT и значения будут проставляться автоматически. Если же мы укажем явно, это не будет ошибкой.

Если для каких-то столбцов не указано значение, то эти ячейки будут заполняться по дефолту, если не указано другого.

Можно добавить сразу несколько строк в столбец:

INSERT INTO med_area (area_address)
VALUES
('ул. Ленина'),
('ул. Рижская'),
('ул. Вавилова');

Когда надо в таблицу вставить что-то новое + что-то из другой таблицы; в данной примере нужно включить нового человека в таблицу с клиентами. Его имя Попов Илья, его email popov@test, проживает он в Москве.

INSERT INTO client

(name_client, city_id, email)

SELECT 'Попов Илья', city_id, 'popov@test'

FROM city

WHERE name_city = 'Москва';

!Обращаем внимание, что здесь нет VALUES, вместо него SELECT с отсылкой на другую таблицу

Если нужно сделать две или более вставки, делаем их по отдельности

# Изменение данных

Для обновления уже имеющихся строк применяется команда UPDATE:

UPDATE имя_таблицы

SET столбец1 = значение1, столбец2 = значение2, ... столбецN = значениеN

[WHERE условие_обновления];

Пример. Обновим поле Специальность врача:

UPDATE doctors

SET spec = 'невролог'

WHERE doctor_num = 2;

Если условие не ставить, то UPDATE выполнится для всех строк таблицы.

Для конкатенации (слияния) двух строк используем CONCAT:

UPDATE med_area

SET area_address = CONCAT( 'г. Москва, ', area_address);

Тут мы меняем все строки столбца area_address, везде добавляя г Москва сперва

Обновление данных в одной таблице, при каком-то условии из другой: 

UPDATE fine f, traffic_violation tv

SET f.sum_fine = tv.sum_fine

WHERE f.violation = tv.violation and f.sum_fine is null;

# Удаление данных

DELETE FROM имя_таблицы

[WHERE условие_удаления];

Пример:

DELETE FROM talons;
(данный скрипт удалит все строки из таблицы)

DELETE FROM talons

WHERE doctor_num = 3;
(а этот - строку где номер доктора = 3)

Оператор TRUNCATE также удаляет строки из таблицы:

TRUNCATE TABLE название_таблицы;

Отличия TRUNCATE от DELETE:

При DELETE можно удалить не все строки таблицы, ограничив их, используя WHERE; Можно восстановить данные после удаления (используя журнал транзакций); Выполняется медленно (за счет построчного сохранения данных в журнале транзакций); При удалении данных из таблицы с полем, объявленным как AUTO_INCREMENT, счетчик НЕ обнуляется.
Соответственно, у TRUNCATE наоборот.

# Выборка данных SELECT

Оператор SELECT используется для извлечения данных из одной или нескольких таблиц.

Синтаксис:

SELECT [DISTINCT] <список_выражений> (Используйте *, если вы хотите выбрать все столбцы)

FROM <таблица(-ы)>

[WHERE <условие>]

[GROUP BY <список_группировки>]

[HAVING <условие>]

[ORDER BY <список сортировки>[ ASC | DESC ]] (ASC - сортировка по возрастанию, DESC - по убыванию)

[LIMIT <количество_строк>];

То, что взято в [], - необязательно

Чтобы вывести всю инфу о врачах:
SELECT * FROM doctors;

Если нужно вывести только несколько столбцов, указываем их названия:
SELECT doctor_num, doctor_name FROM doctors;

DISTINCT возвращает уникальные значения для указанных столбцов или выражений. 
SELECT DISTINCT visit_time FROM talons;

SELECT * FROM doctors
WHERE cabinet_num = 21;
В результирующий набор попадут только те строки, где номер кабинета будет равен 21.

Пример с несколькими условиями: 

SELECT * FROM doctors
WHERE (cabinet_num = 21 OR cabinet_num = 11)
AND NOT spec = 'терапевт';

where full_name like 'Иван%' (ФИО начинается на Иван) 

where exists (select * from med_area where area_num = 10) - Условие выполняется, если подзапрос возвращает хотя бы одну строку

SELECT'ом можно выводить не только инфу по столбцам и строкам, но еще и:

1. Константу - 5; "Привет"
2. Операцию над выражениями - SELECT cabinet_num + 1 FROM .. 
3. Функцию от выражения - SELECT CONCAT('г.', area_address) FROM ..

column_name [ AS ] alias_name

SELECT 1 + 1 AS summa;

Встроенные функции:

SELECT CONCAT('П','р','и','в','е','т') AS ex_concat;
Выведет Привет

SELECT LOWER('ПриВет1234') AS ex_lower;
Выведет привет1234

SELECT UPPER('ПриВет1234') AS ex_upper;
Выведет ПРИВЕТ1234

SELECT ABS(-12.36) AS ex_abs;
Выведет 12.36

SELECT GREATEST(8,9,23,45,78,2,13,75) AS ex_greatest;
Выведет 78 (наибольшее значение)

SELECT LEAST(8,9,23,45,78,2,13,75) AS ex_least;
Выведет 2 (наименьшее)

SELECT 
ROUND(8.589)    AS ex_round1, 
ROUND(8.589, 2) AS ex_round2;
Выведет 9 и 8.59

SELECT CURDATE() AS ex_curdate;
Выводит текущую дату (YYYY-MM-DD)

SELECT DAY('2024-01-14') AS ex_day;
Выводит номер дня - 14

SELECT MONTH('2024-01-14') AS ex_month;
1

SELECT YEAR('2024-01-14') AS ex_year;
2024

SELECT DATEDIFF('2024-01-14', '2023-11-12') AS ex_datediff;
Возвращает число дней между двумя датами - 63

SELECT 
    ISNULL('') AS ex_isnull1, 
    ISNULL(null) AS ex_isnull2, 
    ISNULL('Привет') AS ex_isnull3;
Выведет 0, 1, 0

SELECT IF(50<100,'y','n') AS ex_if;
Выведет у, т к условие правдивое

SELECT COALESCE(null, null,'Привет', null, 'Пока') AS ex_coalesce;

Выводит первое не NULL выраженине в списке - Привет

Задание: Рассчитайте для каждого пациента его возраст, используя функцию YEAR и CURDATE. Выведите ФИО, номер ОМС и возраст (назовите его age).

SELECT full_name, oms_num, YEAR(CURDATE()) - YEAR(BIRTH_DATE) AS age FROM patients;

Задание: Выведите информацию о докторах (не меняя данные в таблице) - номер доктора, ФИО доктора и специальность (если специальность не заполнена - выведите "Не заполнена", столбец назовите также spec). 

SELECT doctor_num, doctor_name, IF(spec IS NOT NULL, spec, 'Не заполнена') AS spec FROM doctors;

Синтаксис сортировки:

SELECT * FROM patients
ORDER BY sex ASC;

ASC можно и не указывать, т к он стоит и так по умолчанию

SELECT full_name, sex, birth_date
FROM patients
ORDER BY 2, 3 DESC;

Запись эквивалентна этой:
SELECT full_name, sex, birth_date
FROM patients
ORDER BY sex ASC, birth_date DESC;

Т е выводятся столбцы с ФИО, полом и датой рождения, причем сортировка будет производиться по полу по возрастанию и по дате по убыванию.

Задание: Выведите информацию (все поля) о трех самых молодых пациентах.

SELECT * FROM patients

ORDER BY birth_date DESC

LIMIT 3;

# Агрегатные функции

Ранее мы знакомились с встроенными функциями, ктр являются скалярными, т е выполняют вычисления над одним значением или списком значений (=в пределах одной строки).

Агрегатные же функции выполняют вычисления над группой значений из нескольких строк.

Агрегатные функции в MySQL:
1. AVG(выражение=в) - среднее значение
2. SUM(в) - сумма значений
3. MIN(в) - наименьшее
4. MAX(в) - наибольшее
5. COUNT(в) - вычисляет кол-во значений в указанном выражении
6. COUNT(*) - возвращает кол-во строк источника записей

В качестве выражения - название столбца, над значениями которого надо производить вычисления
Для AVG, SUM должно быть числовое выражение. Для всех остальных - дата, строка, число. Все функции, за исключением COUNT(*), игнорируют NULL.

Пример - посчитать среднюю стоимость посещения:

SELECT AVG(visit_amount) AS avg_amount 

FROM talons;	

Чтобы задать ограничения:

SELECT AVG(visit_amount) AS avg_amount

FROM talons

WHERE doctor_num IN (2,3);

Задание: Посчитайте общую выручку за визиты к врачам за 2023 год (используйте функцию YEAR). Вычисляемое поле назовите sum_amount_2023.

SELECT SUM(visit_amount) AS sum_amount_2023 FROM talons

WHERE YEAR(visit_time) = '2023';

# GROUP BY, HAVING

Получим сумму денег за прием по каждому доктору:

SELECT doctor_num, SUM(visit_amount) AS sum_amount

FROM talons

GROUP BY doctor_num;

Например, по первому доктору будет выведено 4500.00, по второму - 1500.00б по третьему - 2700.00

Задание: Выведите количество врачей по каждой специализации. В результирующем наборе должны быть поля: spec и вычисляемое поле с количеством, назовите его count_docs.

SELECT spec, COUNT(*) as count_docs

from doctors

group by spec;

Задание: Сколько мужчин и женщин среди пациентов, родившихся после 1970 года? Вычисляемое поле назовите count_pacient.

select sex, count(sex) as count_pacient

from patients

where year(birth_date) > 1970

group by sex;

HAVING добавляет условие и, соотвественно, выводятся только те значения, что ему удовлетворяют. HAVING используется вместе с GROUP BY

SELECT 
	doctor_num, SUM(visit_amount) AS sum_amount

FROM talons

GROUP BY doctor_num

HAVING SUM(visit_amount) > 2000;

Задание: Выведите номера врачей, у которых было больше одного посещения. В результате выведите только номера врачей.

SELECT doctor_num from talons

group by doctor_num

having count(doctor_num) > 1;

Задание: Заполните столбец fine_amount (сумма штрафа) в таблице books_in_use следующим образом:
- За каждый день просрочки (дни, которые превышают return_period) начисляется штраф в размере 8,45 р. 

- Количество дней просрочки определяется как разница между Датой возврата книги и Датой выдачи 

- Если дата возврата не заполнена, значит книга еще в использовании, штраф не начисляем.

UPDATE books_in_use

SET fine_amount = (DATEDIFF(return_date, issue_date) - return_period) * 8.45

WHERE return_date is not null and DATEDIFF(return_date, issue_date) > return_period;

Задание: По каждому автору выведите количество книг (не экземпляров!). Вычисляемое поле назовите  books_count.

SELECT book_author, COUNT(*) AS books_count FROM books

group by book_author;

Задание: Вывести список тех авторов, творчество которых представлено только одной книгой.

SELECT book_author FROM books

GROUP BY book_author

HAVING COUNT(*) = 1;